/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  --container-content: 1180px;
  --container-padding: 2rem;
  --container-margin: 4rem;
  max-width: calc(var(--container-content) + var(--container-padding) * 2);
  padding: 0 var(--container-padding);
  margin: var(--container-margin) auto;
}

@media (max-width: 1000px) {
  .container {
    --container-content: 700px;
  }
}
