h1 {
  color: red;
  font-size: 20px;
  font-family: Arial;
  text-transform: uppercase;
  line-height: 30px;

}

p {
  color: gray;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 700;
  /* bold 700 */
}

div{
    text-align: center;
}

h1{
    text-align: left;
}