* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box {
  /* background-color: #ccc; */
  /* padding: 20px 30px 40px; */
  /* padding-top: 20px;
  padding-right: 25px;
  padding-left: 30px;
  padding-bottom: 40px; */
  /* width: 50%; */

  /* border: 10px solid black; */
  /* height: 100vh; */
  /* viewport height */
  /* width: 500px; */
  text-align: center;
}

h1 {
  /* margin: 20px; */
  background-color: #ccc;
  text-align: left;
}

p {
  background-color: #ddd;
}

a {
  display: block;
  background-color: orange;
  text-align: left;
  padding-right: 0;
  width: fit-content;
}
